
 
 <header>
      
        
         

        <div class="ava">
            <img src="https://api.sololearn.com/Uploads/Avatars/868188.jpg" alt="avatar" style=""/>
        </div>    
<div class="box">
                <p class="title">
                    <i class="fa fa-graduation-cap"></i>
                    Summary
                </p>
                <p class="padd-top">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, maxime obcaecati enim illo dolorem, recusandae eum! Quasi natus quaerat aspernatur hic, maxime necessitatibus, quo voluptatem veritatis excepturi error sit vero deleniti laborum alias, expedita nostrum. Mollitia doloribus voluptates explicabo quidem.
                </p>
            </div>  

       <navbar>
     <a style="color: black;" href="/logout">Log out</a>
 </navbar>

 <a href="createPost" id="create-post">
        Create a post
         </a>

    </header>
   
    <div class="content">
        <aside class="info ">
            <div class="box">
                <p class="title">
                    <i class="fa fa-info-circle"></i>Who is this traveler
                </p>
                <p class="padd-top">
                <p>First Name: {{theUser.firstname}}</p>
                <p>Last Name: {{theUser.lastname}}</p>
               <p>Email: {{theUser.email}}</p>
                <a href="/profiles/edit/{{theUser._id}}">
           <button>Update</button>
       </a>     
            </div> 



        </aside>
        <section class="main">
            {{!-- <div class="box">
                <p class="title">
                    <i class="fa fa-graduation-cap"></i>
                    Summary
                </p>
                <p class="padd-top">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, maxime obcaecati enim illo dolorem, recusandae eum! Quasi natus quaerat aspernatur hic, maxime necessitatibus, quo voluptatem veritatis excepturi error sit vero deleniti laborum alias, expedita nostrum. Mollitia doloribus voluptates explicabo quidem.
                </p>
            </div>   --}}


        <div class="the-main-post">
           {{#each thePosts}}
           <img src="{{this.imgPath}}" alt="">
           <h1> {{this.content}}</h1>

           {{/each}}
       </div>

            {{!-- <div class="box">
                <p class="title">
                    <i class="fa fa-flag"></i>
                    activity
                </p>
                <br>
                <p class="padd-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rem, perspiciatis aliquam amet asperiores earum vero hic ab, minus veritatis. 
                </p>
            </div>  



            <div>
                <div class="box">
                <p class="title">
                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                Career goals
                </p>
                <br>
                <p class="padd-top">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rem, perspiciatis aliquam amet asperiores earum vero hic ab, minus veritatis. <br>
                </p>
            </div>   --}}
            {{!-- </div> --}}

        </section>

    </div>
    <footer>    </footer>