<div class="first-class">
    <a href="/logout">Logout</a>
      <div class="important-class-one">
          <h1>Who is this traveler?</h1>
           <p>First Name: {{theUser.firstname}}</p>
           <p>Last Name: {{theUser.lastname}}</p>
           <p>Email: {{theUser.email}}</p>
           <p>Place of living: {{theUser.currentlyLiving}}</p>
                <a href="/profiles/edit/{{theUser._id}}">
           <button>Update</button>
       </a>     

    </div>
   
  <div class="photo-class">
      
            <img src="{{theUser.imgPath}}" alt="avatar" style=""/>
            
        </div>  
     

        <div>
            <img src="./images/walkerlogo.png" id="walker-logo">
        </div>
        
</div>
            <p id="walker-logo-follow">Where you been <br><strong> Traveler?</strong></p>


<div class="move-this-class">
        <details>
    <summary>This novel, which is definitely not a quick read, is considered 
        an Oulipian work. Oulipo, the acronomym for Ouvrior de Littérature Potentielle
         (Workshop of Potential Literature), was founded on November 24, 1960, in France 
        <br> <strong>What are the places I still want to see?</strong>
    </summary>
       Madrid<br>Sydney

       </details>



</div>
<div class="create-diff-post">
<button class="w3-button w3-circle w3-black">+</button>
<strong><a href="createPost" id="create-post">Share what you've done so far</a></strong>

 

</div>
    

<div class="poster-class">

    {{#each thePosts}}

<button type="button" class="btn btn-primary second-primary" data-toggle="modal" data-target="#wow{{@index}}">
  <img src="{{this.imgPath}}" alt="">
</button>
<br><br>
<!-- Modal -->
<div class="modal fade top-modal" id="wow{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="row">
  <div class="modal-dialog" role="document">
    <div class="modal-content fix-modal">
      <div class="modal-header fix-modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center fix-modal-body">

         <div class="row">{{!--inside of the modal--}}
           <div class="col-sm-6">
          <img id ="modalImg" src="{{this.imgPath}}" alt="">
       <div class="fixing-the-class">
           <p id="modalDescription"> {{this.content}}</p>
           </div>

           {{!-- form delete --}}
            <form action="/post/delete/{{this._id}}" method="POST">
           <div class="first-button-one">
                <button class="w3-button w3-ripple w3-red">Delete</button>
           </div>
           </form>
           </div>



           <div class="col-sm-6">
        
            <div class="second-button-two">
                {{!-- <button class="w3-btn w3-teal" id="create-button">Give a comment</button> --}}
                <div id ="createCommentFormDiv">
                <form action="/createComment/{{this._id}}" method="POST">
                <label for="content">content</label>
                <input id="content" type="text" name="content">
                <button>create</button>
                </form>
                </div>
           </div>

<div class="commentsspace">
          <div id="post-here"></div>
                <div id="results"></div>
                {{!-- <hr> --}}
                <br />
           <div class="center">
                {{#each this.comments}}
                    <p>{{this.content}}</p>
                    <br />
                {{/each}}
      </div>
      </div>
      <div class="modal-footer third-class">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary second-primary">Save changes</button> --}}
      </div>
</div>
    </div>
  </div>
</div>
</div>
</div> 
           </div> 

           {{/each}}



