

<h2 style="color: black; margin-left: 620px; top: 25px">Edit your profile</h2>
<form class="edit-profile" action="/profiles/edit/{{profile._id}}" method="POST">



    <label for="">First name</label>
    <input type="text" name="firstname" value="{{profile.firstname}}">

    <label for="">Lastname</label>
    <input type="text" name="lastname" value="{{profile.lastname}}">

    <label for="">Email</label>
    <input type="email" name="email" value="{{profile.email}}">

    <label for="">Where are you living?</label>
    <input type="text" name="currentlyLiving" value="{{profile.currentlyLiving}}">

     
<br><br>
    <button style="color: white;">Submit</button>


{{!-- <br><br> --}}
{{!-- <a href="/private">Profile</a> --}}
</form>
{{!-- <a href="/private"> --}}
{{!-- </a> --}}


